:root {
    --lightblue: #26c9ff;
    --lighterblue: #add8e6;
    --grey: #4b4b4b;
    --eggshell: #ffffff;

}

body {
    background-color: var(--lighterblue);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.start {

}

.quiz-start {
    /* display:none; */
}

header {
    background-color: var(--lightblue);
}

.top {
    display:flex;
    justify-content: space-between;

}

#time {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: 3%;
    text-decoration:underline;
}

h1 {
    font-size: 50px;
    color: var(--eggshell);
}

h2 {
    background-color: var(--grey);
    color: var(--eggshell);
    font-size: 22px;
}

.quiz-box {
    text-align: center;
    background-color: #51d3ff;
    padding-bottom: 15px;
    width: 50%;
}

li {
    width: 30%;
    list-style: none;
    padding: 0.5%;
    margin: 0.75%;
    background-color: var(--eggshell);
    border-radius: 50%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.confirm {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.yesno {
    background-color: var(--lighterblue);
    color: black;
    padding: 10px 30px;
    border-radius: 50%;
    display: none;
}
